.searchItems {
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 40vh;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.searchResults {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px 0px 5px 20px;
    align-items: center;
    width: 100%;
    height: 100%;
}

.searchResults div{
    text-align: left;
}

.searchResults:hover {
    background-color: #f0f0f0;
    border-radius: 22px;
    transition: 150ms;
}

.contentImg {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.itemDescription{
    list-style: none;
    font-size: 0.8rem;
}